.mgFrame_new_shadow {
/*  border: 1px solid #DDD;*/
  background-color: #FFF;
/*  padding: 4px;*/
  display:inline-block;
/*
  -moz-box-shadow: 0px 0px 2px #CCC;
  -webkit-box-shadow: 0px 0px 2px #CCC;
*/
  border: 1px solid #FFFFFF;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);

}

.mgFrame_new_shadow img {
  vertical-align: bottom;
}

.mgFrame_new_shadow:hover {
/*  border-color: #004E98;*/
}
