.mgframe_shadow {
  border: 1px solid #DDD;
  background-color: #FFF;
  padding: 4px;
  display:inline-block;

  -moz-box-shadow: 0px 0px 2px #CCC;
  -webkit-box-shadow: 0px 0px 2px #CCC;
}

.mgframe_shadow img {
  vertical-align: bottom;
}

.mgframe_shadow:hover {
  border-color: #004E98;
}
